BODY{
    background-image:url("./wish-wallpaper.jpg") ;
background-repeat: unset;
}
h1{
    color:#22668D;
    background-color: #FFFADD;
}
p{
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    color: #040D12;
    
}
h3{
    display: -webkit-inline-flex;
    color: #040D12;
    background-color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
    font-size: 180%;
}
.second{
    width: 500px;
    height: 600px;
  
    padding-left: 8%;
    
 }
.first{
    color: #1A8B9D;
    padding-left: 8%;

}